:root {
    --nav-padding: 20px;
    --main-color: darkblue;
    --spacing-small: 1rem;
}

nav {
    background-color: var(--main-color);
    padding: var(--nav-padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--nav-padding);
}

main {
    max-width: 1840px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--spacing-small);
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1 */
    padding: var(--spacing-small);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: var(--main-color);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}