.callout {
    max-width: 600px;
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, .1);
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

.callout img {
    float: left;
    margin: 0 20% 20px 0;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    width: 150px;
    height: auto;

}

blockquote {
    margin: 20px 0;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    font-style: italic;
}

cite {
    display: block;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    text-align: right;
    font-size: 0.9em;
    color: #555
}